/* -----------------------------*/
/* 	 	SITE MAIN STYLE START	*/
/* -----------------------------*/
@font-face {
	src: url("../fonts/Gothic_Titel_Offiziell.ttf");
	font-family: 'GothicTitle';
	font-display: swap;
	font-size: 46px;
	font-weight: 400;

}
@font-face {
	src: url("../fonts/Gothic_Ingame_Offiziell.ttf");
	font-family: 'GothicInGame';
	font-display: swap;
	font-size: 32px;
	font-weight: 400;
}
:root {
	--txt-color: #222;
	--site-color: #108FD8;
	--accent-color: #0758BD;
	--accent-txtcolor: #F5F5F5;
	--btn-color: #2B81C9;
	--btn-text: #FAFAFA;
	--succ-color: #72B640;
	--err-color: #E63434;
	--alert-color: #E0CF0E;
	--info-color: #44B3D8;
	--link-color: #2B81C9;
	--link-hover: #1592A8;
	--bradius: 3px;
}


html { overflow: hidden; height: 100vh; }

body {
	font-size: 16px;
	color: var(--txt-color);
	font-family: 'GothicInGame', sans-serif;
	background-color: #383838;
	margin: 0 auto;
	padding: 0;
	max-width: 512px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

[class*=mw-][class*=-inner],
[class*=row][class*=-outer] {
	display: grid;
}

/* -----------------------------*/
/* 		 SITE MAIN STYLE END	*/
/* -----------------------------*/


/* ----- HEADER START ----- */
.header-outer {
	max-height: 100px;
	min-height: 40px;
}

.header-inner {

}

.logo {	float: left; }
.logo img { float: left; }
/* ----- HEADER END ----- */


/* ----- GAME START ----- */
.ulugame-cnt {}
.ulugame {
	max-width: 512px;
	max-height: 512px;
	width: 100vw;
	height: auto;
	margin: 0 auto;
}
.ulubtns {
	position: relative;
	width: 100%;
	height: 160px;
}
.ulubtns .key {
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	position: absolute;
	font-size: 50px;
	color: #C7C7C7;
}
.key.up {
	transform: translate(-50%, 0);
	top: 0px;
	left: 50%;
}
.key.down {
	transform: translate(-50%, 0);
	bottom: -80px;
	left: 50%;
}
.key.left {
	transform: translate(-50%, 0);
	bottom: 0px;
	left: calc(50% - 80px);
}
.key.right {
	transform: translate(-50%, 0);
	bottom: 0px;
	left: calc(50% + 80px);
}
.key.leftup {
	transform: translate(-50%, 0) rotate(45deg);
	top: 0px;
	left: calc(50% - 80px);
}
.key.leftdown {
	transform: translate(-50%, 0) rotate(-45deg);
	bottom: -80px;
	left: calc(50% - 80px);
}
.key.rightup {
	transform: translate(-50%, 0) rotate(-45deg);
	top: 0px;
	left: calc(50% + 80px);
}
.key.rightdown {
	transform: translate(-50%, 0) rotate(45deg);
	bottom: -80px;
	left: calc(50% + 80px);
}

.key.attack {
	transform: translate(-50%, 0) rotate(175deg);
	bottom: 0px;
	left: 50%;
	color: #333;
}

.ulutouch-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	height: calc(100vh - 50px);
	width: 100vw;
}
.ulutouch {
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
}

.gametitle {
	font-family: 'GothicTitle', sans-serif;
	font-size: 64px;
	width: 100%;
	float: left;
	text-align: center;
	color: #DDD;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	line-height: 1em;
}
.playmenu {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	height: 100vh;
	z-index: 999;
	max-width: 600px
}

.ctrlScheme,
.ctrlScheme label {
	float: left;
	width: 100%;
	max-width: 600px;
}
.ctrlScheme label {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.ctrlScheme .schemeOpt {
	width: calc(100% / 3);
	max-width: 600px;
	float: left;
	position: relative;
	padding-top: 20px;

}
.ctrlScheme .schemeOpt input[type='radio'] {
	position: absolute;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 100%;
	border:none;
}
.ctrlScheme .schemeOpt span {
	color: #DDD;
	line-height: 16px;
	text-align: center;
	font-size: 32px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	width: 100%;
	float: left;
}
.ctrlScheme .schemeOpt input[type='radio']:checked ~ span {
	color: #ca1b17;
}

.endscreen,
.gameModifiers,
.gameModifiers  label {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	width: 100%;
	max-width: 600px;
}
.endscreen span,
.gameModifiers span {
	color: #DDD;
	line-height: 16px;
	text-align: left;
	font-size: 32px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	width: 50%;
	float: left;
}
.gameModifiers select {
	float: right;
	width: auto;
	max-width: 50%;
	height: 30px;
	padding: 0px 10px;
	outline: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.endscreen {
	position: absolute;
	top: 400px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0px;
    z-index: 999;
}
.endscreen span {
	margin: 0 auto;
    display: block;
    text-align: center;
    padding: 10px 0px;
	float: none;
	cursor: pointer;
}
.highscore {
	margin: 0 auto;
}
.highscore tbody {
	max-height: 150px;
    overflow: auto;
    height: 150px;
    display: block;
    padding-right: 10px;
}
.highscore tr {}
.highscore th,
.highscore td {
	color: #DDD;
	line-height: 16px;
	font-size: 32px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-align: center;
	padding: 5px 10px;
}
.highscore tr:nth-child(odd) td {
	color: #A5A5A5;
}
.highscore th {	color: #ca1b17; }

.scoreform {
	text-align: center;
	padding: 20px;
}
.scoreform input {
	height: 30px;
	padding: 0px 10px;
	outline: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.playBtn,
.menu-btn,
.highscore-wrapper button,
.scoreform input[type='submit'] {
	color: #DDD;
	line-height: 1em;
	text-align: center;
	font-size: 46px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	border: 1px solid #DDD;
	outline: none;
	width: auto;
	float: none;
	display: block;
	margin: 0 auto;
	font-family: 'GothicTitle', sans-serif;
	margin-bottom: 20px;
}

.menu-sub {
	display: none;
	visibility: hidden;
}
.menu-sub.active {
	display: block;
	visibility: visible;
}
.scoreform label {
	color: #DDD;
	line-height: 16px;
	font-size: 32px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-align: center;
	padding: 5px 10px;
}

/* ----- GAME END ----- */


/* ----- FOOTER START ----- */
.footer-outer {

}

.footer-inner {

}
/* ----- FOOTER END ----- */



/* ---- MEDIA QUERIES START ---- */
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 360px) {

}
/* ---- MEDIA QUERIES END ---- */

